// Your custom variables


$primary-color:        #c53036 !default;
$primary-color-dark:   darken(#c53036, .2) !default;
$secondary-color:      #a6c !default;
$secondary-color-dark: #93c !default;
$default-color:        #2bbbad !default;
$default-color-dark:   #00695c !default;
$info-color:           #33b5e5 !default;
$info-color-dark:      #09c !default;
$success-color:        #00c851 !default;
$success-color-dark:   #007e33 !default;
$warning-color:        #fb3 !default;
$warning-color-dark:   #f80 !default;
$danger-color:         #ff3547 !default;
$danger-color-dark:    #c00 !default;
$elegant-color:        #2e2e2e !default;
$elegant-color-dark:   #212121 !default;
$stylish-color:        #4b515d !default;
$stylish-color-dark:   #3e4551 !default;
$unique-color:         #3f729b !default;
$unique-color-dark:    #1c2331 !default;
$special-color:        #37474f !default;
$special-color-dark:   #263238 !default;
$white:                #fff;
$black:                #000;